
*,*:before,*:after
{
margin:0;
padding:0;
outline:0;
box-sizing:border-box;
border:0;
font-size:100%;
line-height:100%;
-webkit-text-size-adjust:none;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
text-rendering:optimizeLegibility
}

.wrap{width:100%;max-width:1024px;margin-right:auto;
margin-left:auto;padding:80px 30px 30px}
.menu__item,
.logo__text,

.txt-upper{font-weight:600;text-transform:uppercase;
letter-spacing:.0625rem}
.logo__text:after{width:100%;max-width:30px;
height:6px;display:block;content:"";
border-radius:1000px;background:#4b6cc1}

img{box-shadow:0 1px 5px #00000008,0 5px 30px #0000001a;
border-radius:5px}
@media screen and (min-width: 1025px)
{.project-preview__desc,.txt-large
{font-size:22px;font-size:1.375rem}

.txt-mini{font-size:14px;font-size:.875rem}}

		p,li{line-height:175%}
		a{text-decoration:underline;text-decoration-color:transparent;color:#4b6cc1}
		.txt-error{color:#c1594b}
		@media screen and (max-width: 768px)
	{}	@media screen and (max-width: 500px)
		{.form__row{flex-direction:column}
		.form__row:not(:last-child){margin-bottom:20px}
		.form__field:not(:last-child){margin-bottom:20px}}
		.logo{display:inline-flex;align-items:center}
		.logo__text{font-size:28px;font-size:1.75rem;
		display:inline-block;line-height:70%;color:#191a1d}
		.logo__text:after{max-width:30%;margin-top:12.337555519%}
		@media screen and (min-width: 671px)
		{.logo{column-gap:40px}}
		@media screen and (max-width: 670px)
		{.logo{column-gap:20px}}
		.wysiwyg>*+*{margin-top:30px}
		table{
    border-collapse: collapse;
    width: 90%;
}
td, th{
    border: 1px solid black;
    padding: 8px;


}

td:first-child{
    text-align: center;


}

.judul{
    text-align: center;
    font-size: 30px;
}

.judul-tabel{
    background-color: seagreen;
    color: navajowhite;
}

.top1{
    text-align: center;
    color: yellow;
}

.tombol{
    background-color: yellow;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
}

.tombol:hover{
    background-color: green;
}

a{
    color: orangered;
    text-decoration: none;
}

td:hover{
    background-color: red;
}

		.wysiwyg>h1+*,
		.menu{display:flex;flex-wrap:wrap}
		.menu__item{font-size:18px;font-size:1.125rem;margin-top:3.640776699%;color:#5e5e5e}
		@media screen and (min-width: 501px)
		{.menu{gap:4.854368932%}}
		.header{display:flex;column-gap:4.1493775934%}
		.header__section--media img{width:100px;display:block;border-radius:1000px}
		.header__section--menu{width:100%;align-self:center}@media screen and (min-width: 1025px)
		{.header{margin-bottom:80px}}
		@media screen and (max-width: 1024px)
		{.header{margin-bottom:50px}}
		@media screen and (min-width: 671px)
		{.header__section--media .logo__text{display:none}}
		@media screen and (max-width: 670px)
		{.header{margin-bottom:30px;flex-direction:column}
		.header__section--menu .logo{display:none}}
		.footer {width:100%;height:5px;display:block;
		content:"";border-radius:1000px;background:#dddddd}
		.footer__inner{display:flex;flex-wrap:wrap;row-gap:5px;
		column-gap:30px;justify-content:space-between}
		@media screen and (min-width: 1025px)
		{.footer{margin-top:80px}}
		@media screen and (max-width: 1024px)
		{.footer{margin-top:50px}}
		}{}
		post-preview{width:100%;height:5px;
		display:block;content:"";border-radius:1000px;
		background:#dddddd}
		.box{border-radius:5px;background-color:#f1f8fa}
		@media screen and (min-width: 501px)
		{.box{padding:40px}}
	
	
	
	
	
	
